*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#d4a373;
}

.contenido{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #faedcd;
    border-radius: 2%;
}


header{
    display: flex;
    /*background-color: #EBEBD3*/
} 


header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 74px;
    font-weight: 700;
    color: #b07d62;
    display: flex;
    align-items: center;
    height: 150px;
}

ul li{
    position: relative;
    left: 13px;
   /* display: inline;*/
}


.clearfix{
    clear: both;
}

section{
margin-bottom: 20px;
}
section h2{
    color: #d69f7e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-bottom: 2px solid #FEC89A;
    margin-bottom: 20px;

}



.contenido-principal{
    display: flex;
}

.contenido-principal .main{
    width: 100%;
    
}

.contenido-principal aside{
    width: 50%;
}
.form{
    width: 208%;
    border-radius: 10%;

}
.main{
    background-color: #ffffff;
    margin: 8px;
    padding: 10px;
    border-radius: 5%;
    width:180px;
	display:inline-block;
    
}
.form{
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-radius: 5%;
     text-align: center;
}

aside h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #d69f7e;
    text-align: center;
}
.justificado{
    text-align: left;

}
#negritas{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
  

}
.boton-personalizado {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color: #e76f51;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#ffffff;
    border-color: rgb(201, 196, 196);
    border-width: 3px;
    border-style: solid;
    }
    .preferenciaCarro input {
        display: none;
      }
      .preferenciaCarro img {
        width: 300px;
        border: 5px solid transparent;
      }
      .checkeable input {
        display: none;
      }
      .checkeable input:checked  + img {
        border-color: blue;
      }