*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#cbc0d3;
}

.contenido{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f8edeb;
    
}


header{
    display: flex;
    padding: 0;
    background-color: #feeafa;
} 

header img{
    width: 150px;
    margin: 3%;
    height: 180px;
    

}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #700bb4;
    display: flex;
    align-items: center;
    height: 150px;
}
nav{
    list-style:none ;
    background: #e4d8ec;
    background: -webkit-linear-gradient(to right, #e4d8ec,#e4d8ec);
	background: linear-gradient(to right,#e4d8ec, #d5bbe6);
padding: 20px;

}

.prin{
    color: #700bb4;
    font-size: 27px;
}
nav ul li{
    list-style: none;
}

.nave >li{
    float:left;
}

nav  li a{
    margin-left: 40px;
    text-decoration: none;
    color: #700bb49c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: block;
    background: #e4d8ec;

    background: -webkit-linear-gradient(to right, #e4d8ec,#e4d8ec);
	background: linear-gradient(to right,#e4d8ec, #d5bbe6);

}
nav li a:hover{
    background-color: #8f4979;
    color: #ffffff;
}

.nave  li ul{
   
    display:none;
    position:absolute;
    min-width: 140px;
}
.nave li:hover > ul {
    display: block;
}
.nave li ul li ul {
    position: relative;
    left: 13px;
   /* display: inline;*/
}

.lista{
    margin-left: 5%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix{
    clear: both;
}

section{
margin-bottom: 20px;
}
section h2{
    color: #d69f7e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-bottom: 2px solid #FEC89A;
    margin-bottom: 20px;

}



.contenido-principal{
    display: flex;
}

.contenido-principal .main{
    width: 70%;
}

.contenido-principal aside{
    width: 30%;
}
.main,aside{
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    
}
aside h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #d69f7e;
    text-align: center;
}
.justificado{
    text-align: left;

}

#negritas{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
  

}
