*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#1697a6;
}

.contenido{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #bee3db;
}


header{
    display: flex;
    padding: 0;
    background-color: #86bac0;
   
} 

header img{
    width: 150px;
    margin: 3%;
}

header h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: 20px;
    font-weight: 20px;
    font-size: 60px;
    color: white;
}

.estilos{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 0%;
    font-weight: 300;
    font-size: 110%;
    color: white;
   
}


nav ul li{
    list-style: none;
}



nav ul li a{
    margin-left: 40px;
    text-decoration: none;
    float: left;
    font-family: cursive;
    font-size: 20px;

}

nav ul li a:hover{
    background-color: #4B2840;
    color: #ffffff;
}
nav{
    list-style:none ;
    background: #1697a6;
    background: -webkit-linear-gradient(to right, #86bac0,#94c3c9);
	background: linear-gradient(to right,#1697a6, #a5dce2);
	padding: 20px;

}

.clearfix{
    clear: both;
}

section{
margin-bottom: 10px;
}
section h2{
    color: #0d4785;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    border-bottom: 2px solid #2ec4b6;
    margin-bottom: 20px;
    text-align: center;

}
section h4{
    color: #1697a6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}



.contenido-principal{
    display: flex;
}

.contenido-principal .main{
    width: 100%;
}

.contenido-principal aside{
    width: 30%;
}
.main,aside{
    background-color: #ffffff;
    margin: 15px;
    padding: 10px;
    
}
.imagenes{
    float: right;
    margin: 10px;
}
.imageneslef{
    float: left;
    margin: 20px;
}
.lista{
    font-weight: bold;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.rol{
    float:left;
    margin-left: 40px;
}
.justificado{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.justificado2{
    font-weight: bold;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
section h5{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left:50px;
    
}
.tipos{
    float: left;
    margin: 10px;

}
footer{

    background-color: #86bac0;
    text-align: center;
    
}
.video{
    text-align: center;
}

.video iframe{
    border-radius: 20px;
}



@media(min-width:0px) and (max-width:999px){
    header h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-left: 15px;
        font-weight: 20px;
        font-size: 40px;
        color: white;
    }
    .estilos{
        font-family:Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-left: 0%;
        font-weight: 300;
        font-size: 80%;
        color: white;
       
    }
    nav ul li a{
        margin-left: 40px;
        text-decoration: none;
        float: left;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    
    }
    
}
@media(min-width:0px) and (max-width:635px){
    header h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-left: 20px;
        font-weight: 18px;
        font-size: 35px;
        color: white;
    }
    .estilos{
        font-family:Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-left: 0%;
        font-weight: 300;
        font-size: 58%;
        color: white;
       
    }
    nav ul li a{
        margin-left: 40px;
        text-decoration: none;
        float: left;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
    
    }
    section h2{
        color: #0d4785;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 35px;
        border-bottom: 2px solid #2ec4b6;
        margin-bottom: 20px;
        text-align: center;
    
    }
    section h4{
        color: #1697a6;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    
    }
    
    .justificado{
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    .imagenes{
        float: right;
        margin: 10px;
        width: 400px;
    }
    .imageneslef{
        float: left;
        margin: 20px;
        width: 400px;
    }
    .video{
        text-align: center;

    }
    
    .video iframe{
        max-width: 400px;
    }
    
}