*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../img/background_buildings.png");

}

.contenido{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

.estilos{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 0%;
    font-weight: 300;
    font-size: 90%;
    color: white;
   
}

header{
    display: flex;
    padding: 0;
    background-color: black;
} 

header img{
    width: 230px;
    margin: 3%;
}

header h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    margin-left: 90px;
    font-weight: 300;
    font-size: 145%;
    color: white;
}


nav ul li{
    list-style: none;
}


nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
   

}

nav ul li a:hover{
    
    color: #ffffff;
}

nav{
    list-style:none ;
    background: #d1913c;
    background: -webkit-linear-gradient(to right, #FFD194,#D1913C);
	background: linear-gradient(to right,#D1913C, #FFD194);
	padding: 20px;
}


.clearfix{
    clear: both;
}
.gallery img{
margin-left: 2%;
    
}


section{
margin-bottom: 20px;
}
section h3{
    color: black;
    margin-left: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;

}
.Just{
    margin-left: 5%;
}
.imagenes {
    float: left;
    margin-left: 5%;
  }

.orden{
    margin-left: 5%;
}

.contenido-principal{
    display: flex;
}

.contenido-principal .main{
    width: 60%;
}

.contenido-principal aside{
    width: 30%;
}
.main,aside{
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-radius: 5%;
}
aside h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: red;
}
.justificado{
float: right;
color: rgba(0, 0, 0, 0.712);

}
.color{
    color: black;
}
.color2{
    color: #FFFFFF;
    font-size:12px;
    margin-right: 15%;
}
footer{

    background-color: black;
    text-align: 5%;
   /* margin-left: 16%;*/
    max-width: 100%;
    
}
footer{
	display: flex;
    color: #FFFFFF;
    margin-bottom: 15px;
    /*margin-top: 15px;*/
	justify-content: center;
    background-color: black;

}
/*.contenido h5{
     font-family:'Times New Roman', Times, serif;
    font-size: 100%;
    }*/ 
.Texto{
    margin-left: 50%;
    text-align: left;
}
footer h6{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

@media (min-width:0px) and (max-width:837px){
    header h2{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       text-align: left;
        margin-left: 60px;
        font-weight: 300;
        font-size: 145%;
        color: white;
    }
    
    body,nav, header, .back ,footer, .contenido, .estilos, h2{
        width: auto;
    }
    .estilos{
        font-size: 9px;
    }
     header img{
        width: 85px;

    }
    nav ul li a{
        margin-left: 20px;
        font-size: 13px;
        text-decoration: none;
        float: left;
        font-family:Arial, Helvetica, sans-serif;
        color: black;
       
    
    }
    .back {
        display: block;
    }
    main, aside{
        width: auto;
        margin-right: 0px;
    }
    nav{
        width: 300px;
    }
    .imagenes{
        float: left;
        width: 145px;
    }
    .Texto{
        
            margin-left: 5%;
            text-align: left;
        
    }
    

}

/*@media (min-width:0px) and (max-width:635px){
.contenido{
    padding: 0px;
}
h2{
    font-size: 16px;
}
header{
    height: auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;

}
nav{
    display: block;
    float: none;
    height: auto;
    width: auto;
    padding-right: 10px;
}
nav ul{
    display: block;
}
a{

  border-radius: 0px;
  color: #FFFFFF;
  display: block;
}

}*/